<header class="p-header o-layout__header" role="banner">
  <div class="p-header__wrapper">
    <a href="/">
      <h1 class="p-header__branding">
        <span class="p-header__title">{{ site.title }}</span>
        <span class="p-header__tagline">Front-End Engineer</span>
      </h1>
    </a>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list o-list--bare">
        {% for item in site.navigation -%}
          {% if item.label == 'Contact' %}
            <li class="p-header__nav-item">
              <a class="p-header__nav-anchor" {% if page.url == item.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endif %}
          {% if item.label == 'Portfolio' %}
            <li class="p-header__nav-item">
              <a class="p-header__nav-anchor" {% if page.url == item.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="p-header__nav-list o-list--bare">
        {% for item in site.navigation -%}
          {% if item.label == 'Bookmarks' %}
            <li class="p-header__nav-item">
              <a class="p-header__nav-anchor" {% if page.url == item.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endif %}
          {% if item.label == 'Articles' %}
            <li class="p-header__nav-item">
              <a class="p-header__nav-anchor" {% if page.url == item.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
