<form class="c-form" name="contact" netlify-honeypot="bot-field" action="/contact/thanks/" netlify>
  <input name="bot-field" hidden />

  <div class="c-form__row">
    <label class="c-form__label u-hidden-visually" for="name">Your name</label>
    <input class="c-form__input" type="text" name="name" id="name" placeholder="Your name" required>
  </div>

  <div class="c-form__row">
    <label class="c-form__label u-hidden-visually" for="email">Your email</label>
    <input class="c-form__input" type="email" name="email" id="email" placeholder="Your email address" required>
  </div>

  <div class="c-form__row">
    <label class="c-form__label u-hidden-visually" for="message">Message</label>
    <textarea class="c-form__input" name="message" id="message" rows="7" placeholder="Write your message here" required></textarea>
  </div>

  <div class="c-form__row">
    <button class="c-button c-button--primary c-button--md" type="submit">Send Message</button>
  </div>
</form>
