<li class="c-entry" data-lang="{{ entry.data.lang }}">
  <time class="c-date">
    <span class="c-date__day">{{ (entry.date | date_formatted).substr(4, 2).replace(",", "") }}</span>
    <span class="c-date__month">{{ (entry.date | date_formatted).slice(0, 3) }}</span>
    <span class="c-date__year">{{ (entry.date | date_formatted).slice(-4) }}</span>
  </time>
  {% if entry.data.favorite %}
    <span class="c-entry__favorite-icon">⭐️ </span>
  {% endif %}
  <h3 class="c-entry__title">
    <a href="{{ entry.url }}">
      <span>{{ entry.data.title }}</span>
    </a>
  </h3>
  <ul class="c-tags o-list--bare">
    {% for tag in entry.data.tags %}
      <li class="c-tags__item">
        <a href="{{'/tagged/' + tag}}">
          <span>{{'#' + tag | upper}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</li>
