<time class="c-date">
  <span class="c-date__day">{{ (page.date | date_formatted).substr(4, 2).replace(",", "") }}</span>
  <span class="c-date__month">{{ (page.date | date_formatted).slice(0, 3) }}</span>
  <span class="c-date__year">{{ (page.date | date_formatted).slice(-4) }}</span>
</time>
