{% if tags %}
  <ul class="c-tags o-list--bare">
    {% for tag in tags %}
      <li class="c-tags__item">
        <a href="{{'/tagged/' + tag}}">
          <span>{{'#' + tag | upper}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}