{% extends 'layouts/default.njk' %}

{% block content %}
  <article class="c-article c-article--portfolio">
    <header class="c-article__header u-stack u-text-center">
      <span>Case Study</span>
      <h1 class="u-font-size-xxl">{{ title }}</h1>
      {% if link %}
        {% Link link, null, true %}
      {% endif %}
      <p>{{ summary | safe }}</p>
      {% if banner %}
        <figure>
          <div class="u-breakout">
            <img
              src="/assets/images/portfolio/{{ banner }}"
              alt="{{ title }}graphics"
            >
          </div>
        </figure>
      {% endif %}
    </header>
    <section class="c-article__content u-stack--4 u-stack--post">
      <dl class="c-meta">
        <dt class="c-meta__title">Role</dt>
        <dd class="c-meta__description">
          {% set comma = joiner() %}
          {% for item in roles -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        <dt class="c-meta__title">Tech</dt>
        <dd class="c-meta__description">
          {% set comma = joiner() %}
          {% for item in tech -%}{{ comma() }} {{ item }}{%- endfor %}
        </dd>
        {% if team %}
        <dt class="c-meta__title">Team</dt>
        <dd class="c-meta__description">{{ team }}</dd>
        {% endif %}
      </dl>
      {{ content | safe }}
    </section>
  </article>
{% endblock %}
