---
permalink: /bookmarks/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Bookmarks - {{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="https://ahmedhosna.netlify.com/bookmarks/feed" rel="self"/>
  <link href="https://ahmedhosna.netlify.com"/>
  <updated>{{ collections.bookmarks | rssLastUpdatedDate }}</updated>
  <id>https://ahmedhosna.netlify.com</id>
  <author>
    <name>Ahmed hosna</name>
    <email>ahmedhosna95.com</email>
  </author>
  {%- for post in collections.bookmarks %}
  {% set idUrl %}{{ post.url | url | absoluteUrl('https://ahmedhosna.netlify.com') }}{% endset %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl('https://ahmedhosna.netlify.com') }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.data.link }}" rel="alternate" type="text/html"/>
    <link href="{{ absolutePostUrl }}" rel="related" type="text/html"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ idUrl }}</id>
    <content type="html">
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
