---
title: Portfolio
summary: "Selection of my recent works."
permalink: /portfolio/index.html
scope: s-portfolio
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="l-projects">
    <div class="c-projects c-projects--sandbox">
      <header class="c-projects__header">
        <h2>
          <span class="c-projects__title">frontend sandbox</span>
          <span class="c-projects__subtitle">daily practice</span>
        </h2>
      </header>
      <ol class="c-projects__body js-counts">
        {% include "components/portfolio-sandbox.njk" %}
      </ol>
      <footer class="c-projects__footer">
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 92 92">
            <path d="M62 53c-4 0-7 4-7 9s3 9 7 9c3 0 6-4 6-9s-3-9-6-9zm23-24c0-2 0-12-4-22 0 0-9 1-22 10l-13-1-13 1C20 8 11 7 11 7 7 17 7 27 7 29c-4 5-7 11-7 19 0 36 30 37 37 37a7984 7984 0 0 1 18 0c7 0 37-1 37-37 0-8-3-14-7-19zM46 81c-19 0-34-3-34-21 0-4 2-8 6-12 6-5 16-3 28-3s22-2 28 3c4 4 6 8 6 12 0 18-15 21-34 21zM30 53c-3 0-6 4-6 9s3 9 6 9c4 0 7-4 7-9s-3-9-7-9z"/>
          </svg>
          <span>browsing all in github</span>
        </a>
      </footer>
    </div>

    <div class="c-projects c-projects--javascript">
      <header class="c-projects__header">
        <h2>
          <span class="c-projects__title">javascript sandbox</span>
          <span class="c-projects__subtitle">these were hard times ◕‸◕</span>
        </h2>
      </header>
      <ol class="c-projects__body js-counts">
        {% include "components/portfolio-javascript.njk" %}
      </ol>
      <footer class="c-projects__footer">
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 92 92">
            <path d="M62 53c-4 0-7 4-7 9s3 9 7 9c3 0 6-4 6-9s-3-9-6-9zm23-24c0-2 0-12-4-22 0 0-9 1-22 10l-13-1-13 1C20 8 11 7 11 7 7 17 7 27 7 29c-4 5-7 11-7 19 0 36 30 37 37 37a7984 7984 0 0 1 18 0c7 0 37-1 37-37 0-8-3-14-7-19zM46 81c-19 0-34-3-34-21 0-4 2-8 6-12 6-5 16-3 28-3s22-2 28 3c4 4 6 8 6 12 0 18-15 21-34 21zM30 53c-3 0-6 4-6 9s3 9 6 9c4 0 7-4 7-9s-3-9-7-9z"/>
          </svg>
          <span>browsing all in github</span>
        </a>
      </footer>
    </div>

    <div class="c-projects c-projects--recent">
      <header class="c-projects__header">
        <h2>
          <span class="c-projects__title">recent projects</span>
          <span class="c-projects__subtitle">selected ones</span>
        </h2>
      </header>
      <ol class="c-projects__body js-counts">
        {% include "components/portfolio-recent.njk" %}
      </ol>
      <footer class="c-projects__footer">
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 92 92">
            <path d="M62 53c-4 0-7 4-7 9s3 9 7 9c3 0 6-4 6-9s-3-9-6-9zm23-24c0-2 0-12-4-22 0 0-9 1-22 10l-13-1-13 1C20 8 11 7 11 7 7 17 7 27 7 29c-4 5-7 11-7 19 0 36 30 37 37 37a7984 7984 0 0 1 18 0c7 0 37-1 37-37 0-8-3-14-7-19zM46 81c-19 0-34-3-34-21 0-4 2-8 6-12 6-5 16-3 28-3s22-2 28 3c4 4 6 8 6 12 0 18-15 21-34 21zM30 53c-3 0-6 4-6 9s3 9 6 9c4 0 7-4 7-9s-3-9-7-9z"/>
          </svg>
          <span>browsing all in github</span>
        </a>
      </footer>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
    Array.from(document.querySelectorAll(".js-counts")).forEach((item) => {
      item.style.setProperty(
        "counter-reset",
        `counts ${item.querySelectorAll("li").length + 1}`
      );
    });

    //const sandbox = document.querySelector(".c-projects--sandbox").querySelectorAll("li");
    //document.getElementById('js-daysCount').innerText = sandbox.length;

    {% include "assets/simplebar.min.js" %}

    Array.prototype.forEach.call(
      document.querySelectorAll('.c-projects .c-projects__body'),
      el => new SimpleBar(el, { autoHide: false })
    );
  </script>
{% endblock %}