---
title: Posts
summary: 'I like to research, read, learn and practice, then I share with people what I am learning by writing about it.'
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
scope: s-posts
---
{% extends 'layouts/page.njk' %}

{% block content %}
  {% include "components/listing.njk" %}
  <div class="u-margin-top-3">
  {% include "components/pagination.njk" %}
  </div>
{% endblock %}
