---
title: Articles
summary: 'I like to research, read, learn and practice, then I share with people what I am learning by writing about it.'
pagination:
  data: collections.posts
  size: 10
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
scope: s-posts
---
{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="c-section c-section--entries u-stack--3">
    {% include "components/listing.njk" %}
    {% include "components/pagination.njk" %}
  </section>
{% endblock %}
