---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nationbuilder
    - work
    - posts
    - screencasts
permalink: /tagged/{{ tag }}/index.html
scope: s-tagged
---
{% extends "layouts/page.njk" %}

{% block header %}
  <section class="c-section c-section--intro">
    <h1 class="c-section__page-title">Tagged “{{ tag }}”</h1>
  </section>
{% endblock %}

{% block content %}
  {% set taglist = collections[tag] %}
    <ul class="c-listing o-list--bare">
    {% for entry in taglist | reverse %}
      <li class="c-listing__item">
        <a href="{{ entry.url }}">{{ entry.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
{% endblock %}
