/* -----------
  MAIN STYLES
  ------------ */

/* =============================================================
   GLOBAL VARIABLES
   ============================================================= */

:root {
  /* 35.99875em; ~ 575.98px  .. 1em == 16px
     36em;       ~ 576px
     47.99875em; ~ 767.98px
     48em;       ~ 768px
     62em;       ~ 992px
     75em;       ~ 1200px */

  --font-family-plain: "Inter", sans-serif;
  --font-family-special: "Fredoka One", sans-serif;
  --font-family-code-primary: "Inconsolata", monospace;
  --font-family-code-secondary: "Space Mono", monospace;

  --color-blue: #0055ff;
  --color-red: #ff3300;
  --color-yellow: #ffcc00;
  --color-yellow-light: #fffeca;
  --color-green: #4ca55e;
  --color-primary: var(--color-blue);
  --color-gray-900: #111111;
  --color-gray-500: #767676;
  --color-gray-400: #dddddd;
  --color-gray-300: #efefef;
  --color-gray-100: #fafafa;
  --border-radius: 4px;
  --line-height-loose: 1.5;
  --line-height-tighten: 1.4;
  --line-height-strict: 1.3;
  --transition: all 200ms ease;

  --layout-gap: 2rem;

  --ratio: 1.4;
  --s-6: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) / var(--ratio)
  );
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --s6: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio) * var(--ratio)
  );
}

@media (min-width: 36em) {
  :root {
    --s0: 1.25rem;
  }
}

@media (min-width: 48em) {
  :root {
    --s0: 1.4rem;
  }
}

@media (min-width: 64em) {
  :root {
    --layout-gap: 4rem;
    --s0: 1.6rem;
  }
}

/* =============================================================
   BASE [Bare/Unclassed HTML elements]
   ============================================================= */

* {
  margin: 0;
  padding: 0;
}

*, *:before , *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
  font-family: var(--font-family-plain);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background: #81a6e0 linear-gradient(180deg, #81a6e0 0, #cc7bc5);
  background-attachment: fixed;
  font-size: 1.6rem; /* 16px */
  font-weight: 300;
  line-height: var(--line-height-loose);
  text-rendering: optimizeLegibility;
  color: #fff;
  overflow-x: hidden;
}

@media (min-width: 36em) {
  body {
    font-weight: 400;
  }
}

p {
  line-height: 1.55;
}

@media (min-width: 36em) {
  p {
    line-height: 1.7;
  }
}

h1,
h2,
h3 {
  line-height: var(--line-height-strict);
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

ul:not([class]) {
  padding-left: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  padding-left: 1rem;
  border-left: 0.5rem solid var(--color-gray-300);
  font-style: italic;
}

figcaption {
  margin-top: 1rem;
  color: var(--color-gray-500);
  font-size: smaller;
}

dt {
  font-weight: 700;
}

mark {
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: var(--color-yellow-light);
}

ul ul {
  list-style-type: disc;
}

hr {
  border: 0;
  height: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid var(--color-gray-300);
}

th,
td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

tr:not(:last-of-type) td {
  border-bottom: 1px solid var(--color-gray-300);
}

kbd {
  display: inline-block;
  padding: 2px 5px;
  font-family: var(--font-family-code);
  font-size: 80%;
  color: #444d56;
  line-height: 1.2;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

/* ==========================================================================
   OBJECTS
   ========================================================================== */

/**
 * ASPECT-RATIO
 */

[style*="--aspect-ratio"] > :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.35);
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/**
 * PAGE
 */

.o-page {
  min-height: 100vh;
}

/**
 * MAIN
 */

/* .o-main {} */

/**
 * LIST
 */

/* .o-list {} */

.o-list--bare {
  list-style: none;
}

.o-list--inline li {
  display: inline-block; /* Fallback styles for old browesers */
}

@supports (display: flex) {
  .o-list--inline {
    display: -webkit-box;
    display: flex; /* Removes the space between inline block elements */
  }
}

/**
 * GRID
 */

.o-layout {
  --fixed-width: 34.6rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-column-gap: var(--layout-gap);
  grid-row-gap: calc(var(--layout-gap) * 3.75);
  padding: var(--layout-gap);
  width: 100%;
  max-width: 126.3rem;
  margin-left: auto;
  margin-right: auto;
}

/* .o-layout__header {
  margin-bottom: calc(var(--layout-gap) * 2.6);
}

@media (min-width: 48em) {
  .o-layout__header {
    margin-bottom: var(--layout-gap);
  }
} */

@media (min-width: 64em) {
  .o-layout {
    grid-template-columns: var(--fixed-width) minmax(0, 1fr);
    grid-row-gap: var(--layout-gap);
  }

  .o-layout__header,
  .o-layout__footer {
    position: fixed;
    width: var(--fixed-width);
  }

  .o-layout__header {
    top: var(--layout-gap);
  }

  .o-layout__main {
    grid-column: 2/-1;
  }

  .o-layout__footer {
    bottom: var(--layout-gap);
  }

  /* Portfolio Page Layout */

  .s-portfolio .o-layout {
    grid-template-columns: minmax(0, 1fr);
  }

  .s-portfolio .o-layout__header,
  .s-portfolio .o-layout__footer {
    position: static;
    width: 100%;
  }

  .s-portfolio .o-layout__footer {
    justify-self: end;
  }

  .s-portfolio .o-layout__main {
    grid-column: 1;
  }

  /* Huge column gap in the pages */
  .s-index .o-layout,
  .s-contact .o-layout,
  .s-bookmarks .o-layout,
  .s-posts .o-layout {
    grid-column-gap: calc(var(--layout-gap) * 2);
  }
}

/**
 * CONTAINER
 */

/* .o-container {
  --container-padding: 3rem
  width: 100%;
  max-width: 124.8rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
} */

/* ========================================================
   PATTERNS
   ======================================================== */

/**
 * Header
 */

.p-header {
  --header-gap: 0.85rem;
}

@media (min-width: 36em) {
  .p-header {
    --header-gap: 1rem;
  }
}

.p-header__wrapper {
  display: flex;
  position: relative;
}

.p-header__wrapper > a {
  margin-right: var(--header-gap);
}

.p-header__branding {
  background: linear-gradient(90deg, #eaeaea, #f9f9f9) #fff;
  border-radius: 2px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
  border: 2px solid #444;
  width: 18rem;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.p-header__title {
  font-family: "Cocogoose", sans-serif;
  font-size: 2.8rem;
  color: #3e3e3e;
  flex-grow: 1;
  letter-spacing: -0.03em;
  font-weight: bold;
  position: relative;
  top: 9px;
}

.p-header__tagline {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  font-weight: 300;
  width: 100%;
  text-align: center;
  border-top: 3px solid hsl(0, 0%, 86%);
  background: #c87cc6;
  color: #fff;
  font-family: var(--font-family-code-primary);
}

@media (min-width: 22.5em) {
  .p-header__branding {
    width: 22.2rem;
  }

  .p-header__title {
    font-size: 3.4rem;
    top: 7px;
  }

  .p-header__tagline {
    padding: 0.25rem 0;
    font-size: 1.5rem;
  }
}

.p-header__nav {
  flex-grow: 1;
  display: flex;
}

.p-header__nav-list:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-header__nav-list:first-child .p-header__nav-item {
  flex-grow: 1;
}

.p-header__nav-list:first-child .p-header__nav-item:first-child {
  margin-bottom: 0.35rem;
}

.p-header__nav-list:first-child
  .p-header__nav-item:first-child
  .p-header__nav-anchor {
  letter-spacing: -0.06em;
}

.p-header__nav-list:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translateY(calc(100% + var(--header-gap) - 0.05rem));
}

.p-header__nav-list:last-child .p-header__nav-item {
  flex-basis: calc(50% - calc(var(--header-gap) / 2));
}

.p-header__nav-anchor {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff;
  color: rgba(0, 0, 0, 0.54) !important;
  padding: 0.3em 0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
  border: 2px solid #444;
  font-family: var(--font-family-code-secondary);
  font-style: italic;
  letter-spacing: -0.02em;
  border-radius: 2px;
  transition: all 0.1s ease, transform 0s;
  position: relative;
  z-index: 1;
}

@media (min-width: 22.5em) {
  .p-header__nav-anchor {
    font-size: 1.4rem;
  }
}

@media (min-width: 36em) {
  .p-header__nav-anchor {
    font-size: 1.5rem;
  }
}

@media (min-width: 36em) {
  .p-header__nav-anchor {
    font-size: 1.6rem;
  }
}

.p-header__nav-anchor:active {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.13);
  transform: translate(1px, 1px);
}

.p-header__nav-anchor:after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #d9d9d9 linear-gradient(90deg, #d9d9d9, #fff);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  right: 0;
}

.p-header__nav-list:first-child .p-header__nav-anchor:hover {
  background: transparent;
  border-color: #fff;
  color: #fff !important;
}

.p-header__nav-list:last-child .p-header__nav-anchor:hover:after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.p-header__nav-anchor[aria-current="page"] {
  font-weight: 700;
}

.p-header__nav-anchor[aria-current="page"]:after {
  opacity: 1;
  width: 100%;
}

.p-header__nav-list:first-child
  .p-header__nav-anchor[aria-current="page"]:hover:after {
  display: none;
}

/* Portfolio Page Header */

@media (min-width: 48em) {
  .s-portfolio .p-header__nav-list:first-child {
    width: auto;
  }

  .s-portfolio .p-header__nav-list:last-child {
    position: static;
    width: auto;
    justify-content: space-between;
    transform: translateY(0);
    margin: auto 0 auto auto;
  }

  .s-portfolio .p-header__nav-list:last-child > * + * {
    margin-left: 1rem;
  }

  .s-portfolio .p-header__nav-anchor {
    padding: 0.3em 0.935em;
  }
}

/**
 * FOOTER
 */

@media (max-width: 36em) {
  .p-footer {
    text-align: center;
  }

  .p-footer__scoial {
    justify-content: center;
  }
}

.p-footer__copyrights {
  font-size: 1.5rem;
  background: radial-gradient(rgba(131, 164, 223, 0.5), transparent),
    transparent;
  display: block;
  letter-spacing: 0.02em;
  font-weight: 350;
}

.p-footer__copyrights p:first-child + p {
    margin-top: .65rem;
}

.p-footer__copyrights + * {
  margin-top: 1.75rem;
}

@media (min-width: 36em) {
  .p-footer__copyrights p:first-child + p {
    margin-top: 0;
  }

  .p-footer__copyrights + * {
    margin-top: 1.5rem;
  }
}

.p-footer__copyrights strong {
  user-select: none;
  margin: 0 0.3rem;
  color: gold;
  font-weight: 600;
}

.p-footer__scoial-item + * {
  margin-left: 0.5rem;
}

.p-footer__scoial-anchor {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background: linear-gradient(
    -45deg,
    hsla(217, 61%, 69%, 0.75),
    hsla(164, 33%, 51%, 0.75)
  );
  box-shadow: 0 2px 0 hsla(0, 0%, 0%, 0.05);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer__scoial-anchor svg {
  width: 18px;
  height: 18px;
  transition: all 0.2s ease;
}

.p-footer__scoial-anchor:hover {
  box-shadow: 0 3px 7px hsla(0, 0%, 0%, 0.2), 0 0 0 2px hsla(0, 0%, 100%, 0.75);
}

.p-footer__scoial-anchor:hover svg {
  transform: scale(1.3);
}

/* ========================================================
   COMPONENTS
   ======================================================== */

/**
 * SECTION
 */

.c-section--intro {
  margin-bottom: calc(var(--layout-gap) * 1.25);
}

.c-section__page-title {
  color: gold;
  font-size: 4.5rem;
  letter-spacing: -0.02em;
  font-family: var(--font-family-special);
  font-weight: normal;
}

.c-section__page-title + p {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  position: relative;
  padding-left: 3.4em;
  font-weight: 450;
  line-height: var(--line-height-tighten);
}

@media (min-width: 48em) {
  .c-section--intro {
    margin-bottom: calc(var(--layout-gap) * 0.75);
  }

  .c-section__page-title {
    font-size: 6rem;
    margin: -1.3rem 0 0;
  }

  .c-section__page-title + p {
    font-size: 1.5rem;
    max-width: 59ch;
  }
}

/**
 * HELLO BOX
 */

.c-ol li {
  counter-increment: step-counter;
  position: relative;
  padding-left: 4.1rem;
  font-weight: 450;
}

.c-ol li:not(:last-child) {
  margin-bottom: 10px;
}

.c-ol li::before {
  content: counter(step-counter);
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #81a6e0, #5aab96);
  font-family: var(--font-family-code-secondary);
  font-size: 1.5rem;
  box-shadow: 0 2px 7px hsla(0, 0%, 0%, 0.08);
  border-radius: 53% 47% 40% 60% / 41% 42% 58% 59%;
  font-weight: bold;
  left: 0;
  top: -3px;
}

/**
 * HELLO BOX
 */

.c-hello {
  display: flex;
  color: #333;
}

.c-hello > span {
  font-size: 3rem;
  line-height: 1.15;
  margin-right: 1.4rem;
}

.c-hello__text h2 {
  font-size: 2.2rem;
  font-family: var(--font-family-special);
  font-weight: normal;
  letter-spacing: 0.01em;
}

.c-hello__text p {
  font-family: Space Mono;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  margin-top: 0.5rem;
  font-style: italic;
  line-height: 1.45;
}

@media (min-width: 48em) {
  /* .c-hello {
    padding: 1.55em 1.5em 1.4em .8em;
  } */

  .c-hello > span {
    font-size: 8.6rem;
    margin-right: 1.6rem;
  }

  .c-hello__text p {
    font-size: 1.6rem;
    max-width: 48ch;
  }

  .c-hello__text h2 {
    font-size: 2.75rem;
  }
}

/**
 * SKIP
 */

.c-skip {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.25rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
}

.c-skip:focus {
  -webkit-transform: none;
  transform: none;
}

/**
 * AVATAR
 */

.c-avatar {
  display: none;
}

@media (min-width: 48em) {
  .c-avatar {
    display: block;
    float: right;
    max-width: 27%;
    margin: 3.2rem 0 1rem var(--layout-gap) !important;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.75),
      0 10px 15px hsla(0, 0%, 0%, 0.25);
    overflow: hidden;
  }
}

/**
 * PILL
 */

.c-pill {
  position: relative;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  color: var(--color-primary);
  text-decoration: none;
  font-size: smaller;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.c-pill:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 1rem;
  opacity: 0.15;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
}

a.c-pill:hover {
  color: #fff;
}

a.c-pill:hover:after {
  opacity: 1;
}

/**
 * BUTTON
 */

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 550;
  border: 2px solid transparent;
  background: transparent;
  padding: 0.2em 0.8em;
  transition: var(--transition);
}

.c-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px hsla(0, 100%, 0%, 0.1) !important;
}

.c-button--inverse {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  font-weight: 800;
}

.c-button--inverse:hover {
  border-color: #fff;
  background-color: #fff;
  color: #444;
}

.c-button--sm {
  padding: 0.316em 0.5em;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
}

.c-button--md {
  padding: 0.6em 1em;
  font-size: 1.4rem;
  font-weight: 550;
}

.c-button--primary,
.c-button--secondary {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.035);
  border: 0;
}

.c-button--primary {
  background: linear-gradient(-45deg, #81a6e0, #cc7bc5);
}

.c-button--secondary {
  background: linear-gradient(-45deg, #81a6e0, #5aab96);
}

.c-button--primary:hover,
.c-button--secondary:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2), 0 0 0 2px hsla(0, 0%, 100%, 0.75);
}

.c-button svg {
  margin-left: 0.4rem;
}

/**
 * SHARE
 */

.c-share {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-share::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-300);
}

.c-share span {
  position: relative;
  padding-right: 1rem;
  background-color: #fff;
  color: #767676;
  letter-spacing: .055em;
  font-weight: 500;
  z-index: 10;
}

.c-share__list {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 1rem;
  background-color: #fff;
  z-index: 10;
}

.c-share__list-item:not(:last-of-type) {
  margin-right: 1rem;
}

.c-share__list-item:first-child a {
  color: #00acee;
}

.c-share__list-item:last-child a {
  color: #3b5998;
}

.c-share__list-item a:hover {
  opacity: .75;
}

.c-callout {
  margin-bottom: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-primary);
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    /* left top */ 100% 2rem,
    /* right top */ 100% 100%,
    /* right bottom */ 0 calc(100% - 2rem) /* left bottom */
  );
  clip-path: polygon(
    0 0,
    /* left top */ 100% 2rem,
    /* right top */ 100% 100%,
    /* right bottom */ 0 calc(100% - 2rem) /* left bottom */
  );
}

.c-testimonial {
  text-align: center;
  color: inherit;
}

.c-testimonial > * + * {
  margin-top: 1rem;
}

.c-testimonial__media {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  border: 2px solid #fff;
}

.c-testimonial__media img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.c-testimonial__quote {
  border: 0;
  padding-left: 0;
  font-size: 1.25rem;
}

.c-testimonial__quote p::before {
  content: "“";
}
.c-testimonial__quote p::after {
  content: "”";
}

.c-testimonial__cite {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.75;
}

.c-tick-list {
  list-style: none;
}

.c-tick-list__item {
  display: flex;
}

.c-tick-list__item::before {
  content: "–";
  display: inline-block;
  margin-right: 0.5rem;
  color: var(--color-gray-500);
}

/**
 * FORM
 */

.c-form__row + .c-form__row {
  margin-top: 1rem;
}

.c-form__row--inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.c-form__row-item:first-of-type {
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 1rem;
}

.c-form__label {
  display: block;
  margin-bottom: 0.25rem;
}

.c-form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius);
  background-color: var(--color-gray-100);
  font: inherit;
}

.c-form__input:focus {
  outline: 0;
  box-shadow: var(--outline) !important;
}

/**
 * DATE
 */

.c-date {
  background: linear-gradient(-45deg, #5aab96, #81a6e0, #cc7bc5);
  font-family: var(--font-family-code-primary);
  border-radius: 2px;
  color: #fff;
  font-size: 1.55rem;
  padding: 0 0.9rem;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  height: 24px;
  display: flex;
  letter-spacing: 0.03em;
}

.c-date span {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 97%;
}

.c-date span:not(:last-child) {
  padding-right: 0.8rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
  margin-right: 0.8rem;
}

/**
 * ENTRY
 */

.c-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.c-tags__item:not(:last-child) a {
  margin-right: 0.6rem;
  margin-bottom: 0.5rem;
}

.c-tags__item a {
  font-size: 1.25rem;
  padding: 0 0.5em;
  letter-spacing: 0.01em;
  color: #444;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 1px;
  transition: background 0.1s ease;
  box-shadow: 2px 2px;
  font-family: var(--font-family-code-primary);
  position: relative;
  z-index: 1;
  height: 2rem;
  display: inline-flex;
  align-items: center;
}

.c-tags__item a:focus {
  outline: 0;
}

.c-tags__item a:after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #fff
    linear-gradient(
      -45deg,
      rgba(89, 171, 149, 0.7),
      rgba(129, 165, 223, 0.7),
      rgba(203, 124, 196, 0.7)
    );
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  right: 0;
}

.c-tags__item a:focus:after,
.c-tags__item a:hover:after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.c-tags__item span {
  max-width: 10.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
 * ARTICLE
 */

.c-article {
  background: white;
  border-radius: 2px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.13);
  position: relative;
  border: 4px solid #444;
  margin-left: 40px;
  border-left: 0;
}

.c-article:before {
  content: "";
  display: block;
  position: absolute;
  left: -42px;
  top: -4px;
  width: 40px;
  height: 100%;
  background: #eaeaea;
  border: 4px solid #444;
  border-right: 0;
  box-sizing: content-box;
  border-radius: 2px 0 0 2px;
  box-shadow: 4px 6px 0 rgba(0, 0, 0, 0.13);
  z-index: -1;
}

.c-article__header {
  position: relative;
  padding: 2.8rem  64px;
  margin: 0 0 0 -38px;
  background: #eaeaea
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='487' height='243.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23afc7ec' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 0.7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%239ecec1' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23eac5e7'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 25.5%;
  transition: background-position 200ms ease-in-out;
  overflow: hidden;
}

.c-article__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-article .c-tags__item a {
  letter-spacing: 0.03em;
  font-size: 1.55rem;
  font-weight: 700;
  padding: 0.25em .5em .15em;
  height: 2.3rem;
}


.c-article__header .c-article__title {
  color: #343434;
  font-family: var(--font-family-special);
  font-weight: normal;
  font-size: 56px;
  letter-spacing: -.02em;
  line-height: 1.115;
  margin: 6rem 0;
}

.c-article__header .c-article__title span {
  display: inline-block;
}

.c-article__header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 23px;
  background: transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}

.c-article__content {
  color: #343434;
  font-size: 1.85rem;
  font-weight: 350;
  padding: 4rem 3.2rem;
  position: relative;
  letter-spacing: -0.01em;
}

.c-article__content::before {
  content: "";
  display: block;
}

.c-article__content::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 23px;
  background: #fff;
  border-top: 4px solid #5aab96;
  border-left: 4px solid #5aab96;
}

.c-article__content strong {
  font-weight: 700;
}

.c-article__author {
  display: flex;
  align-items: center;
  max-width: 800px;
  padding: 1.4em 64px 1.3em;
  margin: 0 0 0 -38px;
  box-shadow: 0 -4px 0 #eaeaea;
  background: #444 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='487' height='243.5' viewBox='0 0 1600 800'%3E%3Cpath fill='%23afc7ec' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5-.2.3-16-12.3-21-17zm123.8-505.7c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9.4-.5.5-1.3.2-1.8zM33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3h.1c7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9-.1-6.1-.1-13.2 0-19.1z'/%3E%3Cpath fill='%239ecec1' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1-.1.3-20.3.1-27.1-.5zm425.3 328.4c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4.3-.3.2-1.1-.2-1.6zm131.1-531.9c.6.2 1.3-.2 1.4-.8v-.4c.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6v.1c-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5 5.8 1.3 12.7 2.9 18.5 4.3zm1-1.8c-.1-.1-.2-.2-.4-.2.2 0 .3.1.4.2z'/%3E%3Cg fill='%23eac5e7'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3l1.5 3.3c2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5-.4.2-.9.3-1.4.3zm40.8-51.3c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14 .4-.4.9-.6 1.4-.6zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4 2.1 1.7 4.1 3.6 5.8 5.7z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9l.2.2c1.4 1.4 3.7 1.5 5.2.2 1.7-1.2 1.8-3.6.4-5.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5v-2.3c0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1l-2.4.3zm4.5-69.4c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3v2.4c-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3-3.9-5.5-10.9-10.6-15.9-13.3-1.4-.8-2.4-1.1-2.9-1.1zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6-.2.6-.7 1-1.2 1zm-10.2 9.7c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3s1.3.5 1.3 1.2c.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6 0 .1-.2.1-.3.1zm-12-6.1c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3-.2.2-.5.3-.8.3zm6.4-9.1c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7-.1.1-.3.1-.5.1zm6.2-.3c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6-.2.2-.5.4-.9.4zm522.6 327.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6-.2.6-.7 1-1.2 1zm-10.2 9.7c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3s1.3.5 1.3 1.2c.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6 0 .1-.2.1-.3.1zm-12-6.1c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3-.2.2-.5.3-.8.3zm6.4-9.1c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7-.1.1-.3.1-.5.1zm6.2-.3c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6-.2.2-.5.4-.9.4zm310 196.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1-2.4 1.6-5 2.6-7.9 2.6zm-18.7-26.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3-5.7-3.9-14.7-5.8-21.4-4.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 25%;
  transition: background-position .2s ease-in-out;
}

.c-article__author-avatar {
  margin-right: 1.85rem;
}

.c-article__author-avatar img {
  border-radius: 9px;
  box-shadow: 3px 3px 0 0 rgba(203,124,196,.16);
  background: linear-gradient(-45deg,#5aab96,#81a6e0,#cc7bc5);
  padding: .5rem;
}

.c-article__author-info {
  background: #444;
}

.c-article__author-info span {
  font-size: 1.8rem;
  font-style: italic;
  font-family: var(--font-family-code-secondary);
  letter-spacing: -.04em;
  color: #cc7bc5;
  background: linear-gradient(-45deg,#ef7be6,#5c9aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-article__author-name {
  margin-top: .3rem;
  font-size: 1.9rem;
  font-family: var(--font-family-special);
  font-weight: normal;
  color: #fff;
  letter-spacing: .02em;
}

/**
 * ENTRY
 */

.c-entries {
  display: grid;
  grid-gap: 1.25rem;
}

@media (min-width: 48em) {
  .c-entries {
    grid-template-columns: 1fr 1fr;
  }
}

.c-entry {
  background: #fff;
  padding: 1.8rem 1.8rem 1.8rem calc(4rem + 1.8rem);
  border-radius: 0 2px 2px 0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.13);
  position: relative;
  border: 3px solid #444;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  counter-increment: counts -1;
  align-items: flex-start;
  overflow: hidden;
}

.c-entry::before {
  content: counter(counts);
  color: #cecece;
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 100%;
  background: #eaeaea;
  text-align: center;
  line-height: 50px;
  font-size: 19px;
  font-family: var(--font-2);
  font-weight: 800;
  z-index: 1;
}

.c-entry__title {
  color: #343434;
  font-family: var(--font-family-special);
  font-weight: normal;
  font-size: 1.95rem;
  letter-spacing: 0.01em;
  margin: 1.8rem 0 1.5rem;
}

.c-entry__title a:focus {
  outline: 0;
}

.c-entry__title a:focus span {
  background-position: 0 0;
}

.c-entry__title a span {
  background: #343434 linear-gradient(to right, #81a6e0, #cc7bc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-position: -453px 0;
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}

.c-entry:hover .c-entry__title a span,
.c-entry:focus .c-entry__title a span {
  background-position: 0 0 !important;
}

.c-entry__favorite-icon {
  color: hsla(48, 70%, 50%, 0.11);
  font-size: 13rem;
  line-height: 1;
  position: absolute;
  top: -4rem;
  right: -7rem;
  user-select: none;
  pointer-events: none;
}

@media (min-width: 48em) {
  .c-entry__favorite-icon {
    font-size: 30rem;
    top: -13rem;
    right: -10rem;
  }
}

/**
 * LISTING
 */

/* .c-listing {} */

.c-listing__item {
  padding: 1rem 1.3rem;
  border-radius: var(--border-radius);
  transition: background 130ms ease;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
}

.c-listing__item a {
  font-weight: 550;
}

.c-listing__item span {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
}

.c-listing__item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.c-listing__item:hover {
  background: rgba(255, 255, 255, 0.75);
}

.c-listing__item:hover span {
  color: hsla(0, 0%, 27%, 0.75);
}

.c-listing--ordered {
  counter-reset: li;
}

.c-listing--ordered .c-listing__item::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero) ". ";
}

/**
 * META
 */

@media (min-width: 600px) {
  .c-meta {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(50, -webkit-min-content);
    grid-template-rows: repeat(50, min-content);
  }

  .c-meta__title {
    margin-top: 0;
    grid-row-start: 1;
  }

  .c-meta__title,
  .c-meta__description {
    padding-left: 1rem;
    border-left: 1px solid var(--color-gray-400);
  }
}

.c-meta--stats .c-meta__title {
  font-size: 3rem;
}

.c-meta__description {
  opacity: 0.75;
}

/**
 * NOTE
 */

.c-note {
  padding: 1rem;
  border: 1px solid var(--color-gray-400);
  border-radius: var(--border-radius);
}

.c-note--warning {
  border-color: var(--color-yellow);
  background-color: #fff8e4;
}

.c-note__label {
  font-weight: 700;
}

.c-note__anchor {
  text-decoration: none;
  color: var(--color-primary);
}

.c-note__anchor svg {
  margin-left: 0.25rem;
  font-size: 0.9em;
}

/**
 * PAGINATION
 */

.c-pagination {
  display: -webkit-box;
  display: flex;
}

.c-pagination a[rel="next"] {
  margin-left: auto;
}

.c-pagination__item svg {
  font-size: 0.9em;
}

.c-pagination a[rel="prev"] svg {
  margin-right: 0.25rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c-pagination a[rel="next"] svg {
  margin-left: 0.25rem;
}

/**
 * VIDEO
 */

.c-video__backdrop[style] {
  padding: 2rem;
  background-color: var(--backdrop);
}

/* =========================================================
   SCOPE
   ========================================================= */

/**
 * Index page
 */

.s-index .o-main {
  /* background: hsla(0, 0%, 70%, 0.2); */
  padding: 1.5em 0 1.5em;
  border-radius: var(--border-radius);
}

@media (min-width: 48em) {
  .s-index .o-main {
    padding: 1.5em 0 1.5em;
  }
}

.s-index .c-section--intro p:nth-last-of-type(2) strong {
  color: gold;
  font-weight: 500;
  user-select: none;
}

.s-index .c-section:not(:first-child) h2 {
  color: gold;
  margin: 0 0 0.3rem;
  font-size: 2.8rem;
  letter-spacing: -0.02em;
  font-family: var(--font-family-special);
  font-weight: normal;
}

.s-index .c-section:nth-of-type(3) p:last-child span:first-child {
  font-weight: 450;
  font-size: 1.3rem;
  letter-spacing: 0.03em;
}

.s-index .c-section--intro > p {
  font-size: 17px;
  letter-spacing: -0.01em;
}

.s-index .c-section p a:not([class]) {
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 48em) {
  .s-index .c-section--intro > p {
    font-size: 18px;
  }

  .s-index .c-section p a:not([class]) {
    font-weight: 550;
  }
}

.s-index .c-section p a:not([class]):hover {
  color: gold;
  border-color: currentColor;
  background: hsla(51, 100%, 50%, 0.16);
}

.s-index .c-section + * {
  margin-top: calc(var(--layout-gap) * 1.5);
}

.s-index .c-section:not(:first-child) h2 + p {
  margin-top: 0.2rem;
  font-size: 1.3rem;
  letter-spacing: 0.04em;
  position: relative;
  padding-left: 3.4em;
  font-weight: 400;
}

/**
 * Popular Articles
 */

.s-index .c-section--popular ol {
  display: flex;
  overflow: auto;
  padding-bottom: 2rem;
}

.s-index .c-section--popular .c-entry {
  padding: 1.4rem 1.8rem 1.1rem calc(4rem + 1.8rem);
  height: 232px;
  flex: 0 0 200px;
  max-width: 200px;
}

.s-index .c-section--popular .c-entry:not(:last-child) {
  margin-right: 1.4rem;
}

.s-index .c-section--popular .c-entry__date {
  font-size: 1.4rem;
  color: #ccc;
  font-family: var(--font-family-code-primary);
  margin-top: 1rem;
}

.s-index .c-section--popular .c-entry__title {
  overflow: hidden;
  font-size: 18px;
  flex-grow: 1;
  margin: 0;
}

.s-index .c-section--popular .c-entry__title a {
  position: relative;
  z-index: 1;
  display: block;
  max-height: 130px;
  height: 100%;
}

.s-index .c-section--popular .c-entry__title a span {
  position: relative;
  display: block;
  height: 100%;
  background-position: -150px 0;
  word-break: break-word;
}

.s-index .c-section--popular .c-entry__title a span::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff 71%);
  bottom: -14px;
}

.s-index .c-section--popular .c-tags__item:not(:last-child) a {
  margin-bottom: 0.2rem;
}

/* =========================================================
   UTILITIES
   ========================================================= */

.u-hr {
  margin: 2rem 0 !important;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
}

/**
 * Stack
 */

.u-stack > * + * {
  margin-top: 1rem;
}

.u-stack--2 > * + * {
  margin-top: 2.1rem;
}

.u-stack--3 > * + * {
  margin-top: 3rem;
}

.u-stack--4 > * + * {
  margin-top: 4rem;
}

.u-stack > * + h2,
.u-stack > * + h3 {
  margin-top: 2rem;
}

.u-stack > * + .c-button {
  margin-top: 2.5rem;
}

.u-stack--post > p + p {
  margin-top: 2.5rem;
}


/**
 * FLEXBOX
 */

.u-display-flex {
  display: -webkit-box;
  display: flex;
}

.u-align-center {
  -webkit-box-align: center;
  align-items: center;
}

.u-justify-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/**
 * TEXT-ALIGNMENT
 */

.u-text-center {
  text-align: center;
}

/**
 * FONT-SIZING
 */

.u-font-size-xxl {
  font-size: 3rem;
  line-height: var(--line-height-strict);
}

.u-font-size-xl {
  font-size: 2.5rem;
  line-height: var(--line-height-strict);
}

.u-font-size-lg {
  font-size: 2rem;
  line-height: var(--line-height-strict);
}

.u-font-size-md {
  font-size: 1.5rem;
  line-height: var(--line-height-tighten);
}

.u-font-size-default {
  font-size: 1rem;
}

.u-font-size-sm {
  font-size: smaller;
}

/**
 * LINE DECORATE
 */

.u-line-decorate {
  position: relative;
  padding-left: 3.4em;
}

.u-line-decorate::before,
.u-line-decorate::after {
  content: "";
  display: block;
  position: absolute;
  background: gold;
  top: 50%;
  transform: translateY(-50%);
}

.u-line-decorate::before {
  left: 0;
  width: 32px;
  height: 3px;
  border-radius: 3px;
}

.u-line-decorate::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 24px;
}

/**
 * LINE DIVIDER
 */

.u-line-divider {
  height: 43px;
  width: 100%;
  opacity: 0.75;
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
  margin: 3.9rem 0 2.2rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='145' height='18'%3E%3C!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ --%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='20' width='147' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_13'%3E%3Cpath id='svg_4' d='m9.111112,2.841779l-7.111112,12.316445l14.222223,0l-7.111112,-12.316445z' fill='%2381a6e0'/%3E%3Cpath id='svg_5' d='m27.333335,15.158224l-7.111112,-12.316445l14.222223,0l-7.111112,12.316445z' fill='%23cc7bc5'/%3E%3Cpath id='svg_6' d='m45.555558,2.841779l-7.111112,12.316445l14.222223,0l-7.111112,-12.316445z' fill='%235aab96'/%3E%3Cpath id='svg_7' d='m63.777782,15.158224l-7.111112,-12.316445l14.222223,0l-7.111112,12.316445z' fill='%2381a6e0'/%3E%3Cpath id='svg_8' d='m82.000005,2.841779l-7.111112,12.316445l14.222223,0l-7.111112,-12.316445z' fill='%23cc7bc5'/%3E%3Cpath stroke='null' id='svg_9' d='m100.222228,15.158224l-7.111112,-12.316445l14.222223,0l-7.111112,12.316445z' fill='%235aab96'/%3E%3Cpath id='svg_10' d='m118.444451,2.841779l-7.111112,12.316445l14.222223,0l-7.111112,-12.316445z' fill='%2381a6e0'/%3E%3Cpath id='svg_11' d='m136.666675,15.158224l-7.111112,-12.316445l14.222223,0l-7.111112,12.316445z' fill='%23cc7bc5'/%3E%3Cpath id='svg_12' d='m154.888898,2.841779l-7.111112,12.316445l14.222223,0l-7.111112,-12.316445z' fill='%235aab96'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 186px;
  background-position: center;
}

/**
 * LINK
 */

.u-link {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.u-link svg {
  margin-left: 0.25rem;
  font-size: 0.9em;
}

.u-link[rel="external"] svg {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.u-link:hover {
  text-decoration: underline;
}

/**
 * COLORS
 */

.u-color-gray {
  color: var(--color-gray-500);
}

.u-color-primary {
  color: var(--color-primary);
}

/**
 * HIDDEN-VISUALLY
 */

.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/**
 * BREAK-OUT
 */

.u-breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
